# Traefik configuration
TRAEFIK_VERSION=v3.7.7
TRAEFIK_ACME_SERVER=https://ca.home.local:9000/acme/acme/directory
TRAEFIK_CACERTIFICATE=/etc/ssl/homelab/root_ca.crt
TRAEFIK_DASHBOARD_URL=traefik.home.local
TRAEFIK_STATIC_IP=192.168.200.254

# Docker configuration
DOCKER_CONTAINER_NAME=traefik
DOCKER_NETWORK=proxy
DOCKER_SUBNET=192.168.200.0/24
DOCKER_GATEWAY=192.168.200.1

# Additional configuration
ROOT_CA_DIR=/tmp/root_ca.crt
