# Gitlab configuration
GITLAB_VERSION=19.0.2-ce.0
GITLAB_HOSTNAME=gitlab.devhomelab.site
GITLAB_ROOT_PASSWORD=Vl@d0z77VKO
SSH_PORT=2222


# Traefik configuration
TRAEFIK_VERSION=latest
TRAEFIK_ACME_EMAIL=vladoz77@yandex.ru

# Mail configuration
SMTP_HOST=postfix
SMTP_PORT=587
SMTP_DOMAIN=devhomelab.site
SMTP_EMAIL_FROM=gitlab@devhomelab.site
SMTP_DISPLAY_NAME=Gitlab

# Postfix configuration
POSTFIX_HOSTNAME=mail.devhomelab.site
POSTFIX_ALLOWED_SENDER_DOMAINS=devhomelab.site
POSTFIX_DKIM_SELECTOR=mail
POSTFIX_NETWORKS=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16

# Postgres configuration
POSTGRES_VERSION=17
POSTGRES_HOST=postgres
DB_USERNAME=gitlab
DB_PASSWORD=Password
DB_PORT=5432
DB_NAME=gitlabhq_production

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_VERSION=8-alpine
