# GitLab Configuration
GITLAB_VERSION=19.0.2-ce.0
GITLAB_HOSTNAME=gitlab.example.com
GITLAB_ROOT_PASSWORD=ChangeMe123!

# Traefik Configuration
TRAEFIK_VERSION=latest
TRAEFIK_ACME_EMAIL=admin@example.com

# GitLab SMTP Configuration
SMTP_DOMAIN=example.com
SMTP_EMAIL_FROM=gitlab@example.com
SMTP_DISPLAY_NAME=GitLab

# Postfix Relay Configuration
POSTFIX_HOSTNAME=mail.example.com
POSTFIX_ALLOWED_SENDER_DOMAINS=example.com
POSTFIX_DKIM_SELECTOR=mail
POSTFIX_NETWORKS=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
