# GitLab Configuration
GITLAB_VERSION=19.0.2-ce.0
GITLAB_HOSTNAME=gitlab.example.com
GITLAB_ROOT_PASSWORD=ChangeMe123!

# Traefik Configuration
TRAEFIK_VERSION=latest
TRAEFIK_ACME_EMAIL=admin@example.com
