[Unit]
Description=Jenkins Agent
After=network.target

[Service]
Type=simple
User=vlad
WorkingDirectory=/home/vlad/jenkins-agent
ExecStart=/usr/bin/java -jar /usr/local/bin/agent.jar \
  -url http://localhost:8080 \
  -webSocket \
  -noCertificateCheck \
  -secret 53a1f2925acf52db457635094682aae71029d52bd2bb298469ae41119065cc50 \
  -name agent-1 \
  -workDir /home/vlad/jenkins-agent
Restart=always
RestartSec=10
Environment=JAVA_OPTS=-Djava.awt.headless=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target