# Base config
external_url https://${GITLAB_HOSTNAME}
gitlab_rails['initial_root_password'] = ${GITLAB_ROOT_PASSWORD}

# Config reverse proxy
letsencrypt['enable'] = false
nginx['enable'] = true
nginx['listen_port'] = 80
nginx['listen_https'] = false
nginx['error_log_level'] = "debug"
nginx['proxy_set_headers'] = {
  "X-Forwarded-Proto" => "https",
  "X-Forwarded-Ssl" => "on"
}

## SSH
gitlab_rails['gitlab_shell_ssh_port'] = 2224